/*
 * Sidebar
 */

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 5px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

#content {

}