<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Blog</title>

    <!-- Bootstrap core css -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="../../public/css/style.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Simple blog</h1>
            <p>A simple blog made by Runar Jørgensen.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-post">
                    <h1 class="blog-post-title">Bla bla tittel</h1>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Runar</a></p>
                    <p>Dette er vanlig tekst som brukes i forbindelse med eksempler på internett.</p>
                </div>
                <div class="blog-post">
                    <h1 class="blog-post-title">Bla bla tittel</h1>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Runar</a></p>
                    <p>Dette er vanlig tekst som brukes i forbindelse med eksempler på internett.</p>
                </div>
                <div class="blog-post">
                    <h1 class="blog-post-title">Bla bla tittel</h1>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Runar</a></p>
                    <p>Dette er vanlig tekst som brukes i forbindelse med eksempler på internett.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-module">
                    <h4>Latest blog items</h4>
                    <ul>
                        <li><a href="#">Bla bla tittel</a></li>
                        <li><a href="#">Dette er en ny tittel</a></li>
                        <li><a href="#">Spennende lesestoff</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>